html, body {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1 {
    color: #000000;
}
.text-center {
    text-align: center;
}
.text-break {
    display: block;
}
:root {
    --gray: #a0c3d2;
    --pink: #b02695;
    --yellow: #fae62d;
    --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
    --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
    --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
    --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
    --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  }
  
  .step--2 {
    font-size: var(--step--2);
  }
  
  .step--1 {
    font-size: var(--step--1);
  }
  
  .step-0 {
    font-size: var(--step-0);
  }
  
  .step-1 {
    font-size: var(--step-1);
  }
  
  .step-2 {
    font-size: var(--step-2);
  }
  
  .step-3 {
    font-size: var(--step-3);
  }
  
  .step-4 {
    font-size: var(--step-4);
  }
  
  .step-5 {
    font-size: var(--step-5);
  }
.underline {
    text-decoration: underline;
}
/* Globales */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
    display: block;
}

[class$='container'] {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
li {
    list-style: none;
}

.header {
    background-color: black;
    color: white;
    padding: 1.5rem 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 0;
}
.header__logo {
    /* font-size: 20px;
    font-weight: 800; */
    display: flex;
}
.my-svg {
    width: 150px;
    fill: white;
}
.header__menu-button {
    all: unset;
    /* background: none; */
    border: 0;
    cursor: pointer;
    /* padding: 0; */
    width: 35px;
    height: 35px;
    z-index: 1000;
}
.header__menu-button span {
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.header__menu-button.open .top-line {
    animation-name: top-line-animation;
}
.header__menu-button.open .middle-line {
    animation-name: middle-line-animation;
}
.header__menu-button.open .bottom-line {
    animation-name: bottom-line-animation;
}

.header__menu-button .top-line {
    animation-name: top-line-animation-close;
}
.header__menu-button .middle-line {
    animation-name: middle-line-animation-close;
}
.header__menu-button .bottom-line {
    animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes bottom-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation {
    20%, 100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes top-line-animation-close {
    0% {
        margin: 5px auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100% {
        transform: translateY(0) rotate(0);
    }
}
@keyframes middle-line-animation-close {
    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
        width: 60%;
    }
}
@keyframes bottom-line-animation-close {
    0% {
        margin: 5px auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100% {
        transform: translateY(0) rotate(0);
    }
}

/* Navbar Desktop Menu */
.header__menu {
    display: flex;
    gap: 3rem;
}
.header__menu-item {
    padding: 1.1rem 0;
    /* font-weight: bold; */
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.header__menu > .header__menu-item:not(.separator) {
    font-weight: bold;
}
.header__menu > .header__menu-item:not(.separator):hover {
    color: #1ed760;
}
.separator {
    cursor:none;
}
.my-svg {
    width: 30%;
}
@media screen and (min-width: 880px) {
    .my-svg {
        width: 45%;
    }
}
/* Plan Familiar */
.familiar-plan {
    background-color: var(--gray);
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 2rem 0;
    text-align: center;
}

.familiar-plan__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-top: 4.5rem;
}
.familiar-plan__message {
    font-weight: 500;
    margin: 0;
    margin-top: 2.5rem;
}
.familiar-plan__empezar {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
@media screen and (min-width: 678px) {
    .familiar-plan__empezar {
        width: auto;
        display: inline-block;
    }
}
.familiar-plan__terminos {
    font-size: 1rem;
}

/* Cuentas */
.cuentas {
    display: grid;
    grid-gap: 3rem;
    padding-top: 3rem;
    /* grid-template-rows: repeat(2, 1fr); */
}
@media screen and (min-width: 678px) {
    .cuentas {
        padding-top: 13rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: unset;
    }
}
.cuentas__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}
@media screen and (min-width: 678px) {
    .cuentas__text {
        padding: 0 4rem;
    }
}
.cuentas__title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
@media screen and (min-width: 678px) {
    .cuentas__title {
        font-size: 3.5rem;
    }
}
@media screen and (min-width:678px) {
    .cuentas__message {
        font-size: 2.3rem;
        font-weight: normal;
    }
}
.cuentas__image-container {
    display: flex;
    justify-content: center;
}
@media screen and (min-width:678px) {
    .cuentas__image-container {
        justify-content: flex-end;
    }
}
.cuentas__image {
    max-width: 100%;
}
/* mejor precio */
.mejor-precio {
    background-color: var(--gray);
    text-align: center;
    padding: 7rem 0;
}
.mejor-precio__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2rem;
}
/* Kids */
.kids {
    background-color: var(--pink);
    padding: 5rem 0;
    text-align: center;
}
.kids__grid {
    display: grid;
    grid-gap: 4.5rem;
}
@media screen and (min-width: 678px) {
    .kids__grid {
        grid-template-columns: 3fr 2fr;
        gap: 1rem;
    }
}
.kids__image-title {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}
.kids__message {
    color: #fff;
    /* font-size: 16px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* margin-bottom: 8rem; */
    line-height: 1.8;
}
.kids__exclusivo {
    color: var(--yellow);
    font-weight: bold;
    font-size: 17px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.kids__information {
    background-color: var(--yellow);
    color: var(--pink);
    font-weight: bold;
    display: block;
    padding: 1.2rem 3rem;
    border-radius: 2.5rem;
    font-size: 15px;
}
@media screen and (min-width: 678px) {
    .kids__information {
        display: inline-block;
    }
}
.kid__avatar {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}