html, body {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1 {
    color: #000000;
}
/* Globales */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
    display: block;
}

[class$='container'] {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
li {
    list-style: none;
}

.header {
    background-color: black;
    color: white;
    padding: 1.5rem 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    /* font-size: 20px;
    font-weight: 800; */
    display: flex;
}
.my-svg {
    width: 150px;
    fill: white;
}
.header__menu-button {
    all: unset;
    /* background: none; */
    border: 0;
    cursor: pointer;
    /* padding: 0; */
    width: 35px;
    height: 35px;
    z-index: 1000;
}
.header__menu-button span {
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.header__menu-button.open .top-line {
    animation-name: top-line-animation;
}
.header__menu-button.open .middle-line {
    animation-name: middle-line-animation;
}
.header__menu-button.open .bottom-line {
    animation-name: bottom-line-animation;
}

.header__menu-button .top-line {
    animation-name: top-line-animation-close;
}
.header__menu-button .middle-line {
    animation-name: middle-line-animation-close;
}
.header__menu-button .bottom-line {
    animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes bottom-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation {
    20%, 100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes top-line-animation-close {
    0% {
        margin: 5px auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100% {
        transform: translateY(0) rotate(0);
    }
}
@keyframes middle-line-animation-close {
    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
        width: 60%;
    }
}
@keyframes bottom-line-animation-close {
    0% {
        margin: 5px auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100% {
        transform: translateY(0) rotate(0);
    }
}

/* Navbar Desktop Menu */
.header__menu {
    display: flex;
    gap: 3rem;
}
.header__menu-item {
    padding: 1.1rem 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.header__menu > .header__menu-item:not(.separator) {
    font-weight: 500;
}
.header__menu > .header__menu-item:not(.separator):hover {
    color: #1ed760;
}
.separator {
    cursor:none;
}
.my-svg {
    width: 30%;
}
@media screen and (min-width: 880px) {
    .my-svg {
        width: 50%;
    }
}