html, body {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}
h1 {
    color: #000000;
}
.text-center {
    text-align: center;
}
.text-break {
    display: block;
}
:root {
    --gray: #a0c3d2;
    --pink: #b02695;
    --yellow: #fae62d;
    --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
    --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
    --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
    --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
    --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  }
  
  .step--2 {
    font-size: var(--step--2);
  }
  
  .step--1 {
    font-size: var(--step--1);
  }
  
  .step-0 {
    font-size: var(--step-0);
  }
  
  .step-1 {
    font-size: var(--step-1);
  }
  
  .step-2 {
    font-size: var(--step-2);
  }
  
  .step-3 {
    font-size: var(--step-3);
  }
  
  .step-4 {
    font-size: var(--step-4);
  }
  
  .step-5 {
    font-size: var(--step-5);
  }
.underline {
    text-decoration: underline;
}
/* Globales */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
    display: block;
}

[class$='container'] {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
li {
    list-style: none;
}

.header {
    background-color: black;
    color: white;
    padding: 1.5rem 0;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 0;
}
.header__logo {
    /* font-size: 20px;
    font-weight: 800; */
    display: flex;
}
.my-svg {
    width: 150px;
    fill: white;
}
.header__menu-button {
    all: unset;
    /* background: none; */
    border: 0;
    cursor: pointer;
    /* padding: 0; */
    width: 35px;
    height: 35px;
    z-index: 1000;
}
.header__menu-button span {
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.header__menu-button.open .top-line {
    animation-name: top-line-animation;
}
.header__menu-button.open .middle-line {
    animation-name: middle-line-animation;
}
.header__menu-button.open .bottom-line {
    animation-name: bottom-line-animation;
}

.header__menu-button .top-line {
    animation-name: top-line-animation-close;
}
.header__menu-button .middle-line {
    animation-name: middle-line-animation-close;
}
.header__menu-button .bottom-line {
    animation-name: bottom-line-animation-close;
}

@keyframes top-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes bottom-line-animation {
    50%, 100% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation {
    20%, 100% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}

@keyframes top-line-animation-close {
    0% {
        margin: 5px auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100% {
        transform: translateY(0) rotate(0);
    }
}
@keyframes middle-line-animation-close {
    0% {
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
        width: 60%;
    }
}
@keyframes bottom-line-animation-close {
    0% {
        margin: 5px auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100% {
        transform: translateY(0) rotate(0);
    }
}

/* Navbar Desktop Menu */
.header__menu {
    display: flex;
    gap: 3rem;
}
.header__menu-item {
    padding: 1.1rem 0;
    /* font-weight: bold; */
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.header__menu > .header__menu-item:not(.separator) {
    font-weight: bold;
}
.header__menu > .header__menu-item:not(.separator):hover {
    color: #1ed760;
}
.separator {
    cursor:none;
}
.my-svg {
    width: 30%;
}
@media screen and (min-width: 880px) {
    .my-svg {
        width: 45%;
    }
}
/* Plan Familiar */
.familiar-plan {
    background-color: var(--gray);
    /* font-family: Arial, Helvetica, sans-serif; */
    padding: 2rem 0;
    text-align: center;
}

.familiar-plan__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-top: 4.5rem;
}
.familiar-plan__message {
    font-weight: 500;
    margin: 0;
    margin-top: 2.5rem;
}
.familiar-plan__empezar {
    display: block;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
@media screen and (min-width: 678px) {
    .familiar-plan__empezar {
        width: auto;
        display: inline-block;
    }
}
.familiar-plan__terminos {
    font-size: 1rem;
}

/* Cuentas */
.cuentas {
    display: grid;
    grid-gap: 3rem;
    padding-top: 3rem;
    /* grid-template-rows: repeat(2, 1fr); */
}
@media screen and (min-width: 678px) {
    .cuentas {
        padding-top: 13rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: unset;
    }
}
.cuentas__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}
@media screen and (min-width: 678px) {
    .cuentas__text {
        padding: 0 4rem;
    }
}
.cuentas__title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
@media screen and (min-width: 678px) {
    .cuentas__title {
        font-size: 3.5rem;
    }
}
@media screen and (min-width:678px) {
    .cuentas__message {
        font-size: 2.3rem;
        font-weight: normal;
    }
}
.cuentas__image-container {
    display: flex;
    justify-content: center;
}
@media screen and (min-width:678px) {
    .cuentas__image-container {
        justify-content: flex-end;
    }
}
.cuentas__image {
    max-width: 100%;
}
/* mejor precio */
.mejor-precio {
    background-color: var(--gray);
    text-align: center;
    padding: 7rem 0;
}
.mejor-precio__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2rem;
}
/* Kids */
.kids {
    background-color: var(--pink);
    padding: 5rem 0;
    text-align: center;
}
@media screen and (min-width: 678px) {
    .kids {
        text-align: left;
    }
}
.kids__grid {
    display: grid;
    grid-gap: 4.5rem;
}
@media screen and (min-width: 678px) {
    .kids__grid {
        grid-template-columns: 3fr 2fr;
        gap: 1rem;
    }
}
.kids__image-title {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}
@media screen and (min-width: 678px) {
    .kids__image-title {
        width: 110px;
        margin: unset;
        margin-bottom: 7rem;
    }
}
.kids__message {
    color: #fff;
    /* font-size: 16px; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* margin-bottom: 8rem; */
    line-height: 1.8;
}
@media screen and (min-width: 678px) {
    .kids__message {
        font-size: 23px;
        font-weight: unset;
    }
}
.kids__exclusivo {
    color: var(--yellow);
    font-weight: bold;
    font-size: 17px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 678px) {
    .kids__exclusivo {
        font-size: 23px;
        margin-bottom: 3.5rem;
    }
}
.kids__information {
    background-color: var(--yellow);
    color: var(--pink);
    font-weight: bold;
    display: block;
    padding: 1.2rem 3rem;
    border-radius: 2.5rem;
    font-size: 15px;
}
@media screen and (min-width: 678px) {
    .kids__information {
        display: inline-block;
    }
}
.kid__avatar {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 678px) {
    .kid__avatar {
        width: 370px;
    }
}
/* Elegir */

.elegir__grid {
    display: grid;
    padding: 3.5rem 0;
}
@media screen and (min-width: 678px) {
    .elegir__grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 7rem 0;
    }
}
@media screen and (min-width: 678px) {
    .elegir__familiar {
        padding-right: 4.2rem;
    }
}
.elegir__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
}
.elegir__item {
    position: relative;
    /* padding-left: 20px; */
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
@media screen and (min-width: 678px) {
    .elegir__item {
        font-size: 22px;
    }
}
.elegir__item:last-child {
    margin-bottom: 0;
}
/* .elegir__item::marker {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='img' height='16' width='16' aria-hidden='true' aria-label='' viewBox='0 0 16 16' data-encore-id='icon' class='Svg-sc-ytk21e-0 ldgdZj'%3E%3Cpath d='M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0z'%3E%3C/path%3E%3C/svg%3E");
} */
.elegir__item::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' role='img' height='16' width='16' aria-hidden='true' aria-label='' viewBox='0 0 16 16' data-encore-id='icon' class='Svg-sc-ytk21e-0 ldgdZj'%3E%3Cpath d='M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0z'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    padding-right: 10px;
}
.elegir__message {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: .5rem;
}
@media screen and (min-width: 678px) {
    .elegir__message {
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 1rem;
    }
}
.elegir__tienes-premium {
    margin-top: 5rem;
    padding-top: 5rem;
    border-top: 1px solid rgb(216, 216, 216);;
}
@media screen and (min-width: 678px) {
    .elegir__tienes-premium {
        border: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid rgb(216, 216, 216);
        padding-left: 4.2rem;
        align-self: flex-start;
    }
}
.parental {
    background-color: var(--gray);
    padding: 3.5rem 0;
}
.parental__grid {
    display: grid;
    align-items: center;
}
@media screen and (min-width: 678px) {
    .parental__grid {
        grid-template-columns: 3fr 2fr;
        gap: 1rem;
    }
}
.parental__title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin: 0;
}
@media screen and (min-width: 678px) {
    .parental__text {
        padding-left: 4rem;
        padding-right: 6rem;
    }
}
@media screen and (min-width: 678px) {
    .parental__title {
        font-size: 38px;
    }
}
.parental__message {
    margin: .5rem 0;
}
@media screen and (min-width: 678px) {
    .parental__message {
           font-size: 25px;
    }
}
.parental__container-image {
    margin-top: 4rem;
}
.parental__image {
    max-width: 100%;
}
/* Cancelar */
.cancelar {
    background-color: white;
    padding: 4rem 0;
}
.cancelar__content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.image__boton-container {
    margin: 0;
    width: 100%;
}
.button__cancel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cancelar__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 1.5rem;
}
.cancelar__text {
    text-align: center;
    margin-top: 1rem;
    /* font-weight: bold; */
    /* font-size: 14px; */
    font-size: 17px;
}
/* Obtener premium */
.obtener-premium {
    background-color: var(--gray);
    padding: 3.5rem 0;
}
@media screen and (min-width: 1200px) {
    .obtener-premium {
        padding: 7.5rem 0;
    }
}
.obtener-premium__list {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 678px) {
    .obtener-premium__list {
        /* gap: 1rem; */
        /* max-width: 1200px; */
        width: 78%;
        /* margin: 0 auto; */
    }
}
@media screen and (min-width: 1200px) {
    .obtener-premium__list {
        flex-wrap: nowrap;
        margin-bottom: 3rem;
        gap: 6.5rem;
        width: 85%;
    }
}
.obtener-premium__title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2rem;
    line-height: 1.3;
}
@media screen and (min-width: 678px) {
    .obtener-premium__title {
        margin-bottom: 4.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .obtener-premium__title {
        font-size: 37px;
        margin-bottom: 7rem;
    }
}
.obtener-premium__item {
    display: flex;
    margin-bottom: 1rem;
    /* width: 50%;
    flex-grow: 1; */
}
@media screen and (min-width: 1200px) {
    .obtener-premium__item {
        margin: 0;
    }
}
@media screen and (min-width: 678px) {
    .obtener-premium__item {
        width: 50%;
        flex-grow: 1;
    }
}
@media screen and (min-width: 1200px) {
    .obtener-premium__item {
        display: block;
    }
}
.premium-item {
    margin-right: 2.5rem;
}
@media screen and (min-width: 1200px) {
    .premium-item {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}
.premium-number {
    background-color: #000;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}
@media screen and (min-width: 1200px) {
    .premium-number {
        height: 60px;
        width: 60px;
    }
}
.premium__text {
    margin: 1.5rem 0;
}
/* .premium__text > p {
    font-size: 15px;
} */
.premium__paragraph {
    font-size: 15px;
    width: 75%;
}
@media screen and (min-width: 678px) {
    .premium__paragraph {
        width: 89%;
    }
}
@media screen and (min-width: 1200px) {
    .premium__paragraph {
        text-align: center;
        width: 100%;
    }
}
.obtener-premium__footer {
    padding: 0 5px;
    font-size: 11px;
    font-weight: bold;
}
/* Preguntas */
.preguntas {
    padding: 35px 15px;
    background-color: #f8f8f8;
}
@media screen and (min-width: 678px) {
    .preguntas {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}
.preguntas__item {
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 678px) {
    .preguntas__item {
        max-width: 720px;
    }
}
@media screen and (min-width: 1200px) {
    .preguntas__item {
        max-width: unset;
        width: 93%;
    }
}
.preguntas__content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.preguntas__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.preguntas__ayuda {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 18px;
}
@media screen and (min-width: 678px) {
    .preguntas__ayuda {
        margin-top: 15px;
        margin-bottom: 24px;
        font-size: 24px;
    }
}
.preguntas__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.details > summary {
    list-style: none;
    background-color: white;
    padding: 26px 28px;
    margin-top: 2px;
    outline: none;
    cursor: pointer;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}
.details > summary:hover {
    background-color: #f8f8f8;
}
.details:hover  .details__title {
    /* text-decoration: underline; */
    text-decoration-line: underline;
}
.details__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: calc(100% - 29px);
    box-sizing: border-box;
    font-size: 18px;
    text-align: left;
}
.details__text {
    padding: 15px 32px 32px;
    background-color: white;
    box-sizing: border-box;
}
.details__svg {
    display: inline-block;
    height: 24px;
    width: 24px;
    transform: rotate(180deg);
    vertical-align: middle;
}